<div class="flex justify-content-center flex-wrap">
    <h3 class="text-400">Ingrese la URL que desea acortar</h3>
  </div>
  <div class="flex justify-content-center flex-wrap">
      <input [(ngModel)]="originalUrl" type="text" pInputText required/>
      <button pButton pRipple type="button" icon="pi pi-check" 
        class="p-button-outlined p-button-secondary m-1" (click)="reduceUrl()"></button>
  </div>

  <div class="flex justify-content-center mt-2">
    <p-card [style]="{'width': '25rem', 'height': '25rem', 'margin-bottom': '2em'}">
    </p-card>
  </div>